*{
    margin: 0;
    padding: 0;

}

body{
    /* background-color: #f7f7f7; */
    background-color: #eaf9e0fd;
    
}
html{
    overflow-x: hidden;
}

#p{
    margin-top: -150px;
    margin-left: 1000px;
}

 header {
  background-color: #C1D0B5;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
  width: 1505px;
   

}

img{

    width: 120px;
    margin-right: 60px;
    
   
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

ul p{
    /* margin-right: 0px; */
    font-size: 40px;
    font-family: cursive;
    color: black;
}

li {
  margin: 0 10px;
}

a {
  color: rgba(0, 0, 0, 0.64);
  text-decoration: none;
   font-family: cursive;
  padding: 20px;
  font-size: 20px;
  margin-right: 240px;
  margin-top: 10px;
  /* letter-spacing: 1em; */
}

a:hover{
    color: red;
}



.home_img{
    
    height: 900px;
    width: 1400px;
    margin-top: -287px;
    filter: grayscale(5%);
   /* margin-top: 30px; */

}

.contain h1{
    margin-left: 20px;
    margin-bottom: 20px;
}


.ph-1{
    width: 350px;
    margin-left: 130px;
    margin-top: 30px;
    cursor: pointer;
}




.para-1{
    display: flex;
}

.para-1 p{
    margin-right: 65px;
    margin-top: 100px;
    font-family: initial;
    /* font-size: 1.75; */
    font-size: 1.125rem;
    /* line-height: 1.75rem; */
}

 h2{
    margin-left: 40px;
    margin-top: 80px;
    font-size: 30px;
    color: black;
    font-family: cursive;
}

button{
    
    position: absolute;
    margin-left: 500px;
    margin-top: -80px;
    font-family: cursive;
    font-size: 30px;
    
    padding: 10px;
    width: 200px;
    /* margin-top: 200px; */
}

button.btn-1{
    color: black;
    border-style: solid;
    border-color: lightslategray;
    border-radius: 3px;
   
}

button.btn-1:hover{
    background-color: skyblue;
    color: white;
    opacity: 1s;
    border: none;
}


button.btn-2{
    background-color: green;
    color: white;
    border-radius: 2px;
    border: none;
}

button.btn-2:hover{
    background-color: white;
    color: black;
    border-style: solid;
    border-color: lightslategray;

}



 .photo-section{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    display: flex;
    
    
}
.background{
    
    width: 400px;
    border-radius: 40px;
    margin: 0 auto 15px;
    padding: 10px;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    position: relative;

}
.background:hover{
    scale: 1.1;
    background-color: pink;
}


.img img{
    margin-right: 1000px;
    border-radius: 250px;
    margin-top: 40px;
    margin-left: 150px;
   
}
.down h3{
    margin-left: 10px;
    margin-top: 20px;
    color: #0b1320;
    font-size: 20px;
}
.down p{
    margin-left: 10px;
    line-height: 1.5;
    color: #3b3f47;
   font-size: 20px;
}
.our-team{
     margin-top: 60px;
    text-align: center;
    font-size: 50px;
    color: #0b1320;
    
}

 .h1{
    font-size: 40px;
    text-align: center;
    color:#0b1320;
   font-family: cursive;
   margin-top: 100px;
    
    
}
.two-steps{
    margin-top: 100px;
    margin-left: 100px;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    border: #ece498;
    cursor: pointer;
    
}



.two-steps h2, p{
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.55rem;
    line-height: 1.875rem;
    font-family: neue-haas-grotesk-text,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3b3f47;

}
.background-1{
    background-color: #fff;
    width: 400px;
    border-radius: 10px;
    margin-right: 60px;
}
.background-1 h3{
    color: black;
    margin-left: 20px;
    font-size: 1.125rem;
    line-height: 1.5rem;
}
.background-1 h2{
    color: #3b3f47;
    /* margin-left: 80px; */
    margin-left: 20px;
    font-size: 20px;
    font-family: cursive;

}
.background-1 p{
    font-size: 1.125rem;
    margin-right: 20px;
    font-family: initial;
    

}


footer{
	/* position: absolute; */
	bottom: 0;
	/* background: rgba(0, 0, 0, 0.341); */
    background-color:  #C1D0B5;
	height: auto;
	width: 100vw;
	padding: 40px 0 0 0;
    margin-top: 50px;
}

.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

h1{
   color: #0b132074;
}


.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: white;
   
    /* margin-top: 100px; */
    padding: 5px;
    border-radius: 150%;
}

/* .socials a:hover{
     border: 6.1px solid white;
} */

.socials a i{
    font-size: 4.1rem;
    width: 0px;
    transition: color .4s ease;
    
}
.socials a:hover i{
    color: red;
}

.footer-copyright{
    background: rgba(0, 0, 0, 0.341);
    width: 90vw;
    padding: 10px 10px 25px 10px;
}
.footer-copyright p{
    font-size: 25px;
    word-spacing: 2px;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 20px;
}

.col-lg{
    font-size: 25px;
    color: white;
    /* background-color: #FFF8DE; */
    
}



