*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #e8fcdbfd;
}



button {
  background-color: rgb(21, 204, 21);
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  width: 300px;
  height: 40px;
  margin-top: 20px;
}
button:hover {
  background-color: white;
  color: #2bae66ff;
  /* scale: 1.1; */
}


img {
  width: 300px;
  /* border-radius: 5px; */
  margin-left: -400px;
  margin-top: 50px;
  border-radius: 730px;
}
body {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  font-size: 27px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main {
  /* display: flex; */
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: #C1D0B5;
  box-shadow: 1px 1px 3px 3px rgb(18, 219, 188);
  border-radius: 10px;
  margin-left: 100px;
  margin-top: 30px;
  width: 1000px;
  height: 800px;


  /* margin: 20px; */
  /* margin-left: px; */
}
.profile {
  width: 400px;
}
input {
  width: 400px;
/* margin-top: 20px; */
  /* align-items: start; */
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(159, 223, 159);
  border: none;
  margin-left: 400px;
}

label {
  font-size: 20px;
  margin-left: 170px;
}

form i {
  margin-left: -40px;
  cursor: pointer;
}

textarea{
  margin-left: 24pc;
}

#pro{
 
  position: absolute;
}
.arrow{
  /* margin-left: 1000px; */
  margin-right: 1000px;
  cursor: pointer;
}



