body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e8fcdbfd;

  

}

.container1 { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

form {
    line-height: 50px;
}

h1{
    color:black;
    font-family: initial;
}


.sim {
    margin-top: -10px;
    margin-right: 220px;

}

.sim1 {
    margin-top: -30px;
    margin-right: 280px;
}

.sim2 {
    margin-top: -30px;
    margin-right: 190px;
}

.sim3 {
    margin-top: -30px;
    margin-right: 250px;
}






.btn {
    margin-top: 20px;
    height: 40px;
    width: 320px;
    margin-right: 10px;
    color: white;
    background-color: rgb(21, 204, 21);
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.btn:hover{
    background-color: lightblue;
}

a {
    text-decoration: none;
    font-size: 15px;
    
}

.main1 {
     background-color: #C1D0B5;
     /* filter: blur(0.4px); */
    height: 800px;
    width: 400px;
    padding: 5px 10px;
    
}
.main1 input{
    border-radius: 10px;

}
.main1 input:focus{
    outline: none;
    border-color: rgb(49, 146, 194);
   
}
#username {
    height: 35px;
    width: 320px;
    position: relative;
    top: -30px;
}

#email {
    height: 35px;
    width: 320px;
    position: relative;
    top: -30px;
}
#phone {
    height: 35px;
    width: 320px;
    position: relative;
    top: -30px;
}

#password {
    height: 35px;
    width: 320px;
    position: relative;
    top: -30px;
}



.fa-brands {
    color: black;
    padding-left: 20px;
    font-size: 33px;
    margin-right: 30px;

    
}
.fa-brands:hover{
    /* color: #adff2f; */
    font-size: 35px;
}

.link p{
    font-size: 20px;
   
}
.link a{
    font-size: 22px;
}

.form-input{
    padding: 20px;
}
