body {
    font-size: 30px;
}
html{
    overflow-x: hidden;
}
.profile {
    display: flex;
    background-color: #FFF38c;
    height: 500px;

    
}
.img img {
   margin-left: 30px; 
   border-radius: 20px;
   margin-top: 50px;
   
}
.detail {
    margin-left: 30px;
    margin-top: 50px;
}
h1 {
    text-align: center;
}
.foot {
    align-content: center;
    margin-top: 140px;
    margin-left: 700px;
    width: 100%;
    height: 100px;
}
.foot button {
    font-size: 30px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
}