
body {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
}
.main {
 max-width: 474px;
    margin:  auto;
    padding: 20px 26px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
    position: relative;
    height: 702px;
 margin-right: 300px
}
.profile {
  width: 400px;
}
input {
width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input:hover {
  scale: 1.1;
}
.form {
  width: 410px;
}
label {
  font-size: 25px;
  margin-right: 324px;
}

textarea {
    overflow: auto;
    width: 401px;
}

.btn{
    margin-top: 30px;
    
    padding: 20px;
}



.log{
     padding: 11px;
     width: 108px;
     margin-right: -334px;
     font-size: 20px;
     border: none;
     border-radius: 3px;
     background-color: rgb(201, 140, 140);
}

.submit{
    padding: 11px;
     width: 108px;
     margin-right: 10px;
     font-size: 20px;
     background-color: lightskyblue;
    border: none;
    border-radius: 3px;

}
.arrow{
    margin-right:390px;
}