*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    overflow-x: hidden
    
}

body{
    background-image: linear-gradient(#e1b382,#e1b382);
    width: 1490px;
    height: 700px;
    margin-top: -250px;
}
.photo-section{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    display: flex;
    
}
.background:hover{
    scale: 1.1;
}
.background{
    background-color: #f0e161;
    width: 400px;
    margin-left: 60px;
    border-radius: 30px;

}
.our-team h1{
    color: white;
}
.img img{
    margin-right: 1000px;
    border-radius: 250px;
    margin-top: 20px;
    margin-left: 40px;
   
}
.down h3{
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.down p{
    margin-left: 10px;
}
.our-team{
     margin-top: 250px;
    text-align: center;
    font-size: 60px;
}
hr{
    border: solid 2px white;
}