*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #Fff38c;
}
html{
    overflow-x: hidden;
}
#img img{
    filter: blur(4px);
    filter: brightness(60%);

}


.header{
    display: flex;
    background-color: #F0E161;
    font-size: 10px;
    height: 100px;
    border: solid 2px black;
    width: 1496px;
    position: fixed;
    z-index: 2;
    text-shadow: 0px 0px 50px white;
    
}
.logo{
  font-weight: bold;
  font-size: 45px;
}
.home{
    margin-left: 500px;
    font-size: 30px;
    margin-top: 20px;
    display: flex;
    cursor: pointer;
    
    
    

}
.home a {
    margin-right: 50px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
}


.button button{
    margin-left: 60px;
    margin-right: 0px;
    margin-top: 30px;
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    position: relative;
    cursor: pointer;
    
}
.button{
    display: flex;
}
.btn{
    margin-top: -350px;
    position: absolute;
    font-size: 30px;
    margin-left: 630px;
}

.btn button{
    margin-top: -550px;
    margin-left: 60px;
     width: 200px;
    height: 70px;
    border: none;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    z-index: 10px;
    
}

.btn-1:hover{
    transform: translateY(-20px);
     background-color: white;
     opacity: 0.5;
}
.btn-2:hover{
     transform: translateY(-20px);
    background-color: white;
    opacity: 0.5;
}
.header-1{
    display: flex;
    width: 1486px;
    height: 60px;
    background-color: #c0b236;
    color: black;
    font-size: 30px;
   text-align: center;
   justify-content: space-evenly;
   position: fixed;
   top: 100px;
   z-index: 2;
   cursor: pointer;
}
.container{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container h3{
    color: #c0b236;
    font-size: 50px;
    margin-left: 20px;
    text-shadow: 2px 2px;
}
.container p{
    color: black;
    float: right;
    width: 550px;
    margin-top: 100px;
    font-size: 25px;
    margin-right: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    
    
}
.container img{
    float: right;
    width: 800px;
    height: 400px;
    margin-top: 30px;

}
.container-1{
    margin-top: 500px;
    font-size: 30px;
}
.container-1 img{
    float: left;
    width: 720px;
    height: 400px;
}
.container-1 li{
    color: black;
    list-style: none;
    margin-left: 750px;
}
.container-1 p{
    margin-top: 100px;
    color: black;
}
.container-1 h1{
    color: #c0b236;
    font-size: 50px;
    margin-left: 20px;
    text-shadow: 2px 2px;
}
.container-2{
    font-size: 30px;
    margin-top: 400px;
    
}

.container-2 h1{
    color: #c0b236;
    font-size: 50px;
    margin-top: -14px;
    margin-left: 20px;
    text-shadow: 2px 2px;
}
.container-2 img{
 float: right;
    width: 720px;
    height: 400px;
}
.container-2 p{
    color: black;
    float: right;
    width: 740px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-top: 100px;
}
.container-3 {
    margin-top: 470px;
    font-size: 30px;
}
.container-3 h1{
    color: #c0b236;
    font-size: 50px;
    margin-top: -19px;
    margin-left: 20px;
    text-shadow: 2px 2px;
}
.container-3 img{
    width: 800px;
    height: 400px;
    float: left;
}
.container-3 p{
    margin-top: 100px;
    margin-left: 900px;
    color: black;
    
}
.photo-section{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    display: flex;
    
}
.background{
    background-color: #D9cB50;
    width: 400px;
    margin-left: 60px;
    border-radius: 30px;

}
.img img{
    margin-right: 1000px;
    border-radius: 250px;
    margin-top: 40px;
    margin-left: 40px;
   
}
.down h3{
    margin-left: 10px;
    margin-top: 20px;
}
.down p{
    margin-left: 10px;
    color: white;
}
.our-team{
     margin-top: 250px;
    text-align: center;
    font-size: 50px;
    color: #c0b236;
    text-shadow: 2px 2px;
}
.h1{
    font-size: 50px;
    text-align: center;
    color: #c0b236;
    text-shadow: 2px 2px;
}
.two-steps{
    margin-top: 30px;
    margin-left: 100px;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    border: #c0b236;
    
}
.two-steps h2, p{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.background-1{
    background-color: #D9cB50;
    width: 400px;
    border-radius: 10px;
}
.background-1 h3{
    color: white;
    margin-left: 30px;
}
.background-1 h2{
    color: white;
    margin-left: 40px;
}
.background-1 p{
    font-size: 30px;

}
.logo img{
    width: 130px;
    height: 100px;
    margin-left: 35px;
}
.foot {
  display: flex;
  font-size: 25px;
  align-content: space-between;
  bottom: 00px;
  background-color: #D9cB50;
  color: white;
  width: 95%;
  border-radius: 50px;
  margin-left: 50px;
  margin-top: 50px;
}
.foot-1 {
  margin-left: 200px;
  
}
.foot-1 i{
    margin-top: 15px;
    margin-bottom: 10px;
}

.foot-2 {
  margin-left: 400px;
}
.foot-2 i{
    margin-top: 15px;
    margin-bottom: 12px;
}
.foot h4 {
  color: black;
  font-size: 27px;
}

.header-1{
    display: none;
    position: absolute;
    background-color: white;
    width: 1440px;
    text-shadow: 2px 2px;
    margin-top: 200px;
    font-size: 25px;
    margin-left: 100px;
    z-index: 2;
}
.header-1 p{
    color: white;
    display: block;
    text-decoration: none;
    padding: 12px 16px;
}
.header-1 p:hover {
    background-color: white;
}
