*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    background-color: #f7f7f7;
    
}
html{
    overflow-x: hidden;
}
#img img{
    filter: blur(4px);
    filter: brightness(60%);
    height: 890px;

}

.contain button {
    width: 200px;
    height: 50px;
    margin-left: 100px;
    margin-top: -20px;
    border: none;
    font-size: 25px;
    border-radius: 10px;
}
.header{
    display: flex;
    background-color: #f7f7f7;
    font-size: 10px;
    height: 100px;
    border: solid 1px black;
    width: 1496px;
    position: fixed;
    z-index: 2;
    text-shadow: 0px 0px 50px white;
    margin-top: -100px;
}
.logo{
  font-weight: bold;
  font-size: 45px;
}
.home{
    margin-left: 500px;
    font-size: 30px;
    margin-top: 20px;
    display: flex;
    cursor: pointer;
    
    
    

}
.home a {
    margin-right: 50px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
}


.button button{
    margin-left: 60px;
    margin-right: 0px;
    margin-top: 30px;
    width: 110px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: relative;
    cursor: pointer;
    
}
.button{
    display: flex;
}
.button button:hover{
    box-shadow: 10px 10px 10px 10px;
}


.btn{
    margin-top: -350px;
    position: absolute;
    font-size: 30px;
    margin-left: 630px;
}

.btn button{
    margin-top: -550px;
    margin-left: 60px;
     width: 200px;
    height: 70px;
    border: none;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    z-index: 10px;
    
}

.btn-1:hover{
    width: 300px;
}
.btn-2:hover{
     width: 300px;
}

.container{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container h3{
    color: #0b1320;
    font-size: 50px;
    margin-left: 30px;
    text-shadow: 2px 2px;
    margin-top: -20px;
}
.container p {
    width: 550px;
    margin-top: 60px;
     margin-left: 160px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-family: neue-haas-grotesk-text,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3b3f47;
}
.container img{
    float: right;
    width: 600px;
    height: 400px;
    margin-top: 40px;
    margin-right: 40px;
    border-radius: 40px;
    filter: brightness(1);

}
.container-1{
    margin-top: 200px;
    font-size: 30px;
}
.container-1 img{
    float: left;
    width: 600px;
    height: 400px;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 40px;
    filter: brightness(1);
}
.container-1 li{
    color: black;
    list-style: none;
    margin-left: 750px;
}
.container-1 p{
    margin-top: 160px; 
    margin-left: 740px;
     width: 700px;
     font-size: 1.125rem;
     line-height: 1.75rem;
     font-family: nene-haas-grotesk-text,Helvetica, sans-serif;
     font-weight: 400;
     font-style: normal;
     color: #3b3f47;

}
.container-1 h1{
    color: #0b1320;
    font-size: 50px;
    margin-left: 30px;
    text-shadow: 2px 2px;
}
.container-2{
    font-size: 30px;
    margin-top: 360px;
    margin-left: 20px;
    
}

.container-2 h1{
    color: #0b1320;
    font-size: 50px;
    margin-top: -100px;
    margin-left: 30px;
    text-shadow: 2px 2px;
}
.container-2 img{
 float: right;
 width: 600px;
    height: 400px;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 40px;
    filter: brightness(1);
    
}
.container-2 p{
    color: #3b3f47;
    float: right;
    width: 740px;
    margin-top: 150px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-family: nene-haas-grotesk-text,Helvetica, sans-serif;
    font-weight: 400px;
    font-style: normal;

}
.container-3 {
    margin-top: 600px;
    font-size: 30px;
    margin-left: 20px;
}
.container-3 h1{
    color: #0b1320;
    font-size: 50px;
    margin-top: 500px;
    margin-left: 20px;
    text-shadow: 2px 2px;
}
.container-3 img{
    width: 600px;
    height: 400px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 40px;
    float: left;
     filter: brightness(1);
}
.container-3 p{
    margin-top: 200px;
    margin-left: 700px;
    color: #3b3f47;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-family: nene-haas-grotesk-text,Helvetica, sans-serif;
    font-weight: 400px;
    font-style: normal;
    width: 700px;
    
}
.photo-section{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    display: flex;
    
}
.background{
    
    width: 400px;
    border-radius: 40px;
    margin: 0 auto 15px;
    padding: 10px;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    position: relative;

}
.background:hover{
    scale: 1.1;
}
.img img{
    margin-right: 1000px;
    border-radius: 250px;
    margin-top: 40px;
    margin-left: 40px;
   
}
.down h3{
    margin-left: 10px;
    margin-top: 20px;
    color: #0b1320;
    font-size: 20px;
}
.down p{
    margin-left: 10px;
    line-height: 1.5;
    color: #3b3f47;
    font-weight: 200;
}
.our-team{
     margin-top: 250px;
    text-align: center;
    font-size: 50px;
    color: #0b1320;
    text-shadow: 2px 2px;
}
.h1{
    font-size: 50px;
    text-align: center;
    color:#0b1320;
    text-shadow: 2px 2px;
    
}
.two-steps{
    margin-top: 60px;
    margin-left: 100px;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    border: #ece498;
    
}
.two-steps h2, p{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.55rem;
    line-height: 1.875rem;
    font-family: neue-haas-grotesk-text,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3b3f47;

}
.background-1{
    background-color: #fff;
    width: 400px;
    border-radius: 10px;
}
.background-1 h3{
    color: black;
    margin-left: 20px;
    font-size: 1.125rem;
    line-height: 1.5rem;
}
.background-1 h2{
    color: #3b3f47;
    margin-left: 80px;
    margin-left: 20px;
}
.background-1 p{
    font-size: 1.125rem;
    

}
.logo img{
    width: 130px;
    height: 100px;
    margin-left: 35px;
}

.header-1{
    display: none;
    position: absolute;
    width: 200px;
    text-shadow: 2px 2px;
    margin-top: 00px;
    font-size: 25px;
    margin-left: -45px;
    z-index: 1;
}
.header-1 a{
    color: #3b3f47;
    display: block;
    text-decoration: none;
    padding: 12px 16px;
}
.header-1 a:hover {
 color: #fff;
}
.f-products {
  display: flex;
  height: 50px;
  background-color: #f7f7f7;
  border-radius: 30px;
  width: 93%;
  margin-left: 400px;
  margin-top: 100px;
}
.f-products button {
  width: 200px;
  font-size: 25px;
  color: #e1b382;
  background-color: white;
  border-radius: 50px;
  margin-left: 22px;
  margin-top: 10px;
  border: none;
}
.fp-dw a {
  color: blue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.btn-1:hover .fp-dw {
  display: block;
}
.fp-dw a:hover {
  background-color: lightgreen;
  border-radius: 20px;
}
.fp-dw {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(103, 181, 99);
  z-index: 1;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
}
.contain {
    display: flex;
    margin-left: 40px;
    margin-top: 45px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    
    
}

.contain nav a{

    justify-content: space-between;
    padding: 30px 30px;
    color: white;
    text-shadow:  black;
    font-weight: 550px;
    
}
.contain nav a:hover{
    color: black;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 160px;
    background-color: #fff;
    height: 280px;
}
.footer-1 h2{
    margin-top: 10px;
    font-size: 30px;
    font-weight: bolder;
    font-family: sans-serif;
    
}
.footer-1 span{
    margin-top: 20px;
    font-size: 20px;
}
.footer-1 a{
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;

}

.footer-1 span:hover{
    background-color: green;
    
}
.footer-1 a:hover{
    font-size: 25px;
    transition: all 0.3s ease-in-out 0.2s;
}

.footer-2 h2{
    margin-top: 10px;
    font-size: 30px;
    font-weight: bolder;
    font-family: sans-serif;
    
}
.footer-2 span{
    margin-top: 20px;
    font-size: 25px;
}
.footer-2 a{
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

.footer-2 span:hover{
    background-color: yellow;
    
}
.footer-2 a:hover{
    font-size: 25px;
    transition: all 0.3s ease-in-out 0.2s;
}