*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(#e1b382,#e1b382);
    background-size: cover;
    font-family: sans-serif;
}
.container{
    margin-top: 110px;
    margin-left: 480px;
    background-color: #f0e161;
    width: 500px;
    padding: 35px;
    height: 600px;
    border: none;
    border-radius: 25px;
    font-size: 20px;

    
}
.container span{
    margin-left: 75px;
}
.container h1{
  text-align: center;
  margin-top: -20px;
}
.container{
    line-height: 70px;
}
.editbtn{
   width: 100px;
    padding: 13px;
    font-size: 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 25px;
    font-weight: bold;

}
.editbtn:hover{
    background-color: wheat;
    color: black;
    opacity: 0.7;
}
.editbtn:active{
    background-color: lawngreen;
}
.submitbtn{
     width: 100px;
    padding: 13px;
    font-size: 20px;
    background-color: rgb(21, 21, 245);
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: bold;
}
.submitbtn:hover{
    background-color: white;
    color: black;
    opacity: 0.7;
}
.submitbtn:active{
    background-color: greenyellow;
}
.button{
    margin-left: 150px;
}