*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image:#f3f3f3;
    background-size: cover;
}
.container{
    margin-top: 200px;
    margin-left: 500px;
    margin-right: 600px;
    background-color: #f5f5f5;
    padding: 35px;
    width: 500px;
    height: 360px;
    border-radius: 25px;
    font-size: 20px;
}
.container input{
    font-size: 20px;
    padding: 10px;
    border: none;
    box-sizing: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1{
    position: relative;
    bottom: 15px;
    text-align: center;
    
}
button{
     width: 500px;
    padding: 13px;
    font-size: 17px;
    background-color: rgb(17, 119, 183);
    color: white;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
button:hover{
    background-color: black;
    opacity: 0.7;
}
button:active{
    background-color: green;
}
.footer{
    display: flex;

}
.footer p{
    margin-left: 130px;
    margin-top: 17px;
    color: rgb(28, 72, 247);
}
.footer label{
    margin-top: 10px;
}